# cp secret.yaml.example secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: shoppulse-app
  namespace: shoppulse
type: Opaque
stringData:
  DATABASE_URL: ""
  REDIS_URL: ""
  SERVICE_BUS_CONNECTION_STRING: ""
  SERVICE_BUS_QUEUE_NAME: ""
  CORS_ORIGINS: ""
